.search_item{width:760px;background-color:#fff;border-radius:5px;padding:30px 32px;}
.search_item:first-of-type input{width:calc(100% - 75px);height:32px;}
.search_item:last-of-type{margin-top:16px;}
.search_item input{width:100%;border:1px solid #000000;border-radius:5px;}
.page_search button{margin-top:16px;}



.text-field__group {display:flex;}
/* кнопка */
.text-field__btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out;
}
.text-field__btn:hover {background-color:#343434;}
.text-field__group .text-field__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
}
.text-field__group .text-field__btn {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

