.results{margin-top:16px;width:760px;background-color:#fff;border-radius:5px;padding:18px 30px 30px 30px;margin-bottom:128px;}
.res_item,.res_item a img{max-width:160px;max-height:160px;}
.res_items{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap}





