<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск по тегам</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {% comment %} <p>Поиск по тегам:</p>
        <input type="checkbox" name="tagme" id="tagme">
        <label for="name">tagme (контент без тегов)</label><br>
        <input type="checkbox" name="Ставрополь" id="Ставрополь">
        <label for="name">Ставрополь</label><br>
        <input type="checkbox" name="СКФУ" id="СКФУ">
        <label for="name">СКФУ</label><br>
        <input type="checkbox" name="Название_тега" id="Название_тега">
        <label for="name">Название_тега</label><br><br> {% endcomment %}
        <button>Искать</button>
    </form>
</body>
</html>